In [3]:
import pandas as pd

In [4]:
#Load each social media following per team csv files
instagram_followers = pd.read_csv('nfl_team_instagram_followers.csv')
facebook_followers = pd.read_csv('nfl_team_facebook_followers.csv')
twitter_followers = pd.read_csv('nfl_team_twitter_followers.csv')

In [5]:
print('Instragram Followers:')
print(instagram_followers.head())

Instragram Followers:
          Team Name   Instagram
0  Arizona  Caridnal    1200000
1    Atlanta Falcons    1400000
2   Baltimore Ravens    2200000
3      Buffalo Bills    1900000
4  Carolina Panthers    1900000

In [6]:
print('Facebook Followers:')
print(facebook_followers.head())

Facebook Followers:
          Team Name         Facebook
0  Arizona  Caridnal   1,300,000.00
1    Atlanta Falcons   1,800,000.00
2   Baltimore Ravens   2,200,000.00
3      Buffalo Bills   1,000,000.00
4  Carolina Panthers   2,100,000.00

In [7]:
print('Twitter Followers:')
print(twitter_followers.head())

Twitter Followers:
          Team Name          Twitter  Unnamed: 2  Unnamed: 3  Unnamed: 4
0  Arizona  Caridnal   1,160,000.00          NaN         NaN         NaN
1    Atlanta Falcons   2,440,000.00          NaN         NaN         NaN
2   Baltimore Ravens   1,870,000.00          NaN         NaN         NaN
3      Buffalo Bills   1,710,000.00          NaN         NaN         NaN
4  Carolina Panthers   3,070,000.00          NaN         NaN         NaN

In [8]:
#Cleaning IG data
#Converting follower count to numeric
instagram_followers['Instagram'] = instagram_followers['Instagram'].apply(pd.to_numeric, errors='coerce')

In [9]:
#Cleaning FB Data
facebook_followers['Facebook'] = facebook_followers['Facebook'].str.replace(',', '').str.strip()
facebook_followers['Facebook'] = facebook_followers['Facebook'].apply(pd.to_numeric, errors='coerce')

In [10]:
#Cleaning Twitter Followers
# Convert the 'Twitter' column to strings before applying string operations
twitter_followers['Twitter'] = twitter_followers['Twitter'].astype(str)

# Remove commas and strip any extra spaces in the Twitter follower counts
twitter_followers['Twitter'] = twitter_followers['Twitter'].str.replace(',', '').str.strip()

# Convert the cleaned Twitter follower counts back to numeric
twitter_followers['Twitter'] = twitter_followers['Twitter'].apply(pd.to_numeric, errors='coerce')

# Drop unnecessary "Unnamed" columns that are filled with NaN and create a copy
twitter_followers_cleaned = twitter_followers.dropna(axis=1, how='all').copy()

# Rename the 'Twitter' column to 'X'
twitter_followers_cleaned.rename(columns={'Twitter': 'X'}, inplace=True)

# Inspect the cleaned DataFrame
print(twitter_followers_cleaned.head())

          Team Name           X
0  Arizona  Caridnal  1160000.0
1    Atlanta Falcons  2440000.0
2   Baltimore Ravens  1870000.0
3      Buffalo Bills  1710000.0
4  Carolina Panthers  3070000.0

In [11]:
# I was running into an error when mergeing the columns 
# so i had to standardize the columns name

In [12]:
# Standardize the column names
instagram_followers.rename(columns=lambda x: x.strip(), inplace=True)
facebook_followers.rename(columns=lambda x: x.strip(), inplace=True)
twitter_followers_cleaned.rename(columns=lambda x: x.strip(), inplace=True)

In [13]:
# Ensure all 'Team Name' columns are consistent
instagram_followers.rename(columns={'team name': 'Team Name'}, inplace=True)
facebook_followers.rename(columns={'team name': 'Team Name'}, inplace=True)
twitter_followers_cleaned.rename(columns={'team name': 'Team Name'}, inplace=True)

In [14]:
print(instagram_followers.columns)
print(facebook_followers.columns)
print(twitter_followers_cleaned.columns)

Index(['Team Name', 'Instagram'], dtype='object')
Index(['Team Name', 'Facebook'], dtype='object')
Index(['Team Name', 'X'], dtype='object')

In [15]:
merged_data = pd.merge(instagram_followers, facebook_followers, on='Team Name', how='outer')
merged_data = pd.merge(merged_data, twitter_followers_cleaned, on='Team Name', how='outer')

In [16]:
print(merged_data.head())

           Team Name  Instagram   Facebook          X
0  Arizona  Caridnal    1200000  1300000.0  1160000.0
1    Atlanta Falcons    1400000  1800000.0  2440000.0
2   Baltimore Ravens    2200000  2200000.0  1870000.0
3      Buffalo Bills    1900000  1000000.0  1710000.0
4  Carolina Panthers    1900000  2100000.0  3070000.0

In [17]:
#Output data to csv
output_file_name = 'nfl_social_media_cleaned_isfund.csv'
merged_data.to_csv(output_file_name, index=False)