In [1]:
import pandas as pd

In [2]:
# Load the CSV file
file_path = "/Users/ylsstudent/Downloads/archive/NFL_team_data.csv"
team_data = pd.read_csv(file_path)

In [5]:
# Drop all columns except 'team_name'
team_data_cleaned = team_data.drop(columns=['home_stadium', 'location', 'lat', 'long', 'mascot', 'live_mascots', 'conference', 
                              'division', 'superbowl_wins', 'year_est'])

In [7]:
# Sort the DataFrame by 'team_name' alphabetically
team_data_cleaned = team_data_cleaned.sort_values(by='team_name').reset_index(drop=True)

team_data_cleaned.head()

           team_name
0  Arizona Cardinals
1    Atlanta Falcons
2   Baltimore Ravens
3      Buffalo Bills
4  Carolina Panthers

In [9]:
team_ids = []

for team_id in range(1, len(team_data_cleaned) + 1):
    team_ids.append(team_id)

In [11]:
# Add the team_id list as a new column to the DataFrame
team_data_cleaned['team_id'] = team_ids

# Show the cleaned DataFrame
team_data_cleaned.head()

           team_name  team_id
0  Arizona Cardinals        1
1    Atlanta Falcons        2
2   Baltimore Ravens        3
3      Buffalo Bills        4
4  Carolina Panthers        5

In [13]:
team_data_cleaned.to_csv("/Users/ylsstudent/Documents/Data_Analytics_Bootcamp/Projects/BootcampProject3/nfl_project/clean_team_data.csv", index=False)