In [1]:
import pandas as pd

In [2]:
file_path = "/Users/ylsstudent/Downloads/archive/NFL_team_data.csv"
team_data = pd.read_csv(file_path)

In [5]:
team_data_cleaned = team_data.drop(columns=['home_stadium', 'location', 'lat', 'long', 'mascot', 'live_mascots', 'conference', 
                              'division', 'superbowl_wins', 'year_est'])

In [7]:
team_data_cleaned = team_data_cleaned.sort_values(by='team_name').reset_index(drop=True)

team_data_cleaned.head()

           team_name
0  Arizona Cardinals
1    Atlanta Falcons
2   Baltimore Ravens
3      Buffalo Bills
4  Carolina Panthers

In [9]:
team_ids = []

for team_id in range(1, len(team_data_cleaned) + 1):
    team_ids.append(team_id)

In [11]:
team_data_cleaned['team_id'] = team_ids

team_data_cleaned.head()

           team_name  team_id
0  Arizona Cardinals        1
1    Atlanta Falcons        2
2   Baltimore Ravens        3
3      Buffalo Bills        4
4  Carolina Panthers        5

In [17]:
stadium_ids = [
    101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 118, 119, 120, 121, 122, 123, 
    123, 124, 125, 126, 127, 128, 129, 130
]

city_ids = [
    201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212,  213, 214, 215, 216, 217, 218, 218, 219, 220, 221, 222, 223, 
    223, 224, 225, 226, 227, 228, 229, 230
]

# Create DataFrame for stadium and city IDs
additional_df = pd.DataFrame({
    'team_id': list(range(1, 33)),
    'stadium_id': stadium_ids,
    'city_id': city_ids
})

In [27]:
team_data_final = pd.merge(team_data_cleaned, additional_df, on='team_id')

print(team_data_final)

                team_name  team_id  stadium_id  city_id
0       Arizona Cardinals        1         101      201
1         Atlanta Falcons        2         102      202
2        Baltimore Ravens        3         103      203
3           Buffalo Bills        4         104      204
4       Carolina Panthers        5         105      205
5           Chicago Bears        6         106      206
6      Cincinnati Bengals        7         107      207
7        Cleveland Browns        8         108      208
8          Dallas Cowboys        9         109      209
9          Denver Broncos       10         110      210
10          Detroit Lions       11         111      211
11      Green Bay Packers       12         112      212
12         Houston Texans       13         113      213
13     Indianapolis Colts       14         114      214
14   Jacksonville Jaguars       15         115      215
15     Kansas City Chiefs       16         116      216
16      Las Vegas Raiders       17         117      217
17   Los Angeles Chargers       18         118      218
18       Los Angeles Rams       19         118      218
19         Miami Dolphins       20         119      219
20      Minnesota Vikings       21         120      220
21   New England Patriots       22         121      221
22     New Orleans Saints       23         122      222
23        New York Giants       24         123      223
24          New York Jets       25         123      223
25    Philadelphia Eagles       26         124      224
26    Pittsburgh Steelers       27         125      225
27    San Francisco 49ers       28         126      226
28       Seattle Seahawks       29         127      227
29   Tampa Bay Buccaneers       30         128      228
30       Tennessee Titans       31         129      229
31  Washington Commanders       32         130      230

In [29]:
team_data_final.to_csv("/Users/ylsstudent/Documents/Data_Analytics_Bootcamp/Projects/BootcampProject3/nfl_project/clean_team_data.csv", index=False)